* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-transition: 0.2s;
    transition: 0.2s;
}

body {
	background-image: url("../images/cheap_diagonal_fabric.png");
}
header {
	background-color: white;
    background-color: #FFFFFF;
    border-color: #CCCCCC;
    border-bottom:2px solid #727171;
    margin-bottom: 24px;
}

h1,h2,h3,h4,h5,h6 {
	font-family: 'Georgia', Times, Times New Roman, serif;
	font-size: 24px;
	font-weight: 700;
	line-height: auto;
	color: #4aaaa5;
}

h1 {
	font-size: 30px;
	background-color: #4aaaa5;
	color: #FFF;
	padding: 18px;
	display: inline-block;
}

h2 {
	border-bottom:2px solid #727171;
	padding: 12px 12px 24px 12px;
	margin-bottom: 24px;
}
label {
	font-size:18px;
	font-weight:700;
}
#container {
	width: 70%;
    min-height: 100%;
    margin: 0 auto;
    clear: both;
}


#nav-header-container {
	width:100%;
	background-color: white;
	overflow:auto;
}
#nav-header {
	width: 70%;
	height:100%;
	margin:auto;
}
#profile-title {
	font-weight:bold;
	font-size:30px;
	color:white;
	background:#4eaaa4;
	text-align: center;
	float:left;
	padding:20px;
}

#profile-title h1{
	display:inline-block;

}

#navLinks {
	float: right;
	height:100%;
	padding:12px;
	margin:12px;
}

#navLinks nav {
	font-size:25px;
	color: #bbb;
}

#navLinks nav a {
	text-decoration: none;
	color:#bbb;
	border-color:black;
	padding-left:10px;
	padding-right:10px;
}

#navLinks nav a:hover {
	font-size:23px;
	font-weight:700;
	color:#4AAAA5;
}
#about-me-section {
	overflow:auto;
	height:1300px;
}
/*
#about_me {
	padding-top:12px;
	padding-right:12px;
	padding-bottom:24px;
	padding-left:12px;
}
*/

#about-me-description, #connect-with-me, #contact-me-section{
	box-shadow: 10px 10px 10px #727171;
	border-radius:6px;
	padding:12px;
}

#about-me-description{
	background:white;
	width:66%;
	float:left;
	margin:2%;
}
#about-me {

}
#about-me-description img{
	width:33%;
	height:auto;
	/*display:block;*/
	clear:both;
	margin:10px;
	float:left;
}

#about-me-description p{
	/*display:flex;*/
	padding:12px;
	/*float:left;*/
	font-size:25px;
}

#connect-with-me {
	width:26%;
	margin:2%;
	float:left;
	background:white;
	text-align:center;
	/*padding:12px;*/
}

#portfolio-single-image {
	width:50%;
	padding:2%;
	margin:0 auto;
	float:left;
	position:relative;
}

#portfolio-single-image img{
	width:100%;
	border-radius:6px;
}

#portfolio-single-image figcaption{
	color:white;
	font:bold 24px;
	background:rgb(0, 0, 0);
	background:rgba(74,170, 165, 0.5);
	position:absolute;
	width:100%;
	left:10px;
	bottom:50px;
	text-align:center;
	line-height:50px;
}

#connect-with-me img{
	width:30%;
	margin:1.5%;
	float:left;
	border-radius:6px;
}

div.footer {
	border-top: 6px solid #4aaaa5;
	background-color: #666;
	color: #fff;
	clear: both;
	text-align:center;
	font-size:18px;
	font-weight: 300;
	width: 100%;
	padding: 24px;
	margin-top: 150px;
	/* FIXED FOOTER */
	position:fixed;
   	left:0px;
   	bottom:0px;
}

#contact-me-section {
	background:white;
	width:66%;
	float:left;
	margin:2%;
}

#contact-me-section label {
	width:100%;
	display:inline-block;
	padding-top:10px;
	padding-bottom:10px;
}

#contact-me-section input, textarea {
	width:100%;
	display:inline-block;
	font-size:16px;
}

#button {
	padding:10px;
	background-color:#4aaaa5;
	color:#fff;
	width:30%;
	border-radius:6px;
	font-size:16px;

}
#button:hover {
	font-size:24px;
}